.chip {
  background-color: #5a575738;
  font-size: 0.8em;
  padding: 0.2em;
  color: #565555;
}

b {
  font-weight: 500;
}

.card-text {
  a {
    font-size: 0.8em;
    .google-img {
      max-width: 10%;
    }
    .rawg-img {
      max-width: 6%;
      border-radius: 50%;
    }
  }
}
